<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FizzBuzz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div>
    <form action="#" method="post">
        <fieldset>
            <textarea id="input_data" placeholder="Enter data" name="data" required="required"></textarea>
            <input id="submit_button" type="submit" value="Submit"/>
        </fieldset>
    </form>
</div>


<ul id="fizz_buzz_results">
    <li th:each="fizzbuzz : ${fizzbuzzes}">
        <span class="input" th:text="${fizzbuzz.input}"></span> :
        <span class="output" th:text="${fizzbuzz.output}"></span></li>
</ul>


</body>

</html>
